doctype 5
html(lang="en")
  head
    title= 'Index of Music, sorted by Images'
    meta(name='viewport', content='width=device-width')
    link('type="text/css" rel="stylesheet" href="style.css"')
    style.
      html {
      background: #f8f8f8;
      color: #555;
      font-family: Geneva, Tahoma, Verdana, sans-serif;
      line-height: 1.4em;
      }
      body {
      margin: 10 auto;
      max-width: 600px;
      }
      h1 {
      font-weight: 500;
      line-height: 1.1em;
      }
      a {
      color: #555;
      text-decoration: none;
      }
      img {
      border: 0;
      height: 120;
      width: 120;
      }
  body
    h1 Title
    |     
    p
      | Some text 
    div.container
      div.image 
        a(href='/home/liam/nodejs/images/all/Inside.jpg', alt='/home/liam/nodejs/images/all/Inside.jpg')
          img(src='/home/liam/nodejs/images/all/Inside.jpg')
Inside.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/Shadows Collide with People (Acoustic Versions).jpg', alt='/home/liam/nodejs/images/all/Shadows Collide with People (Acoustic Versions).jpg')
          img(src='/home/liam/nodejs/images/all/Shadows Collide with People (Acoustic Versions).jpg')
Shadows Collide with People (Acoustic Versions).jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/06.png', alt='/home/liam/nodejs/images/all/06.png')
          img(src='/home/liam/nodejs/images/all/06.png')
06.png

      div.image 
        a(href='/home/liam/nodejs/images/all/Rainbow Bridge large.jpg', alt='/home/liam/nodejs/images/all/Rainbow Bridge large.jpg')
          img(src='/home/liam/nodejs/images/all/Rainbow Bridge large.jpg')
Rainbow Bridge large.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/back.jpg', alt='/home/liam/nodejs/images/all/back.jpg')
          img(src='/home/liam/nodejs/images/all/back.jpg')
back.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/The Cry of Love large.jpg', alt='/home/liam/nodejs/images/all/The Cry of Love large.jpg')
          img(src='/home/liam/nodejs/images/all/The Cry of Love large.jpg')
The Cry of Love large.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/Shadows Collide with People.jpg', alt='/home/liam/nodejs/images/all/Shadows Collide with People.jpg')
          img(src='/home/liam/nodejs/images/all/Shadows Collide with People.jpg')
Shadows Collide with People.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/00-Front.jpg', alt='/home/liam/nodejs/images/all/00-Front.jpg')
          img(src='/home/liam/nodejs/images/all/00-Front.jpg')
00-Front.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/04.png', alt='/home/liam/nodejs/images/all/04.png')
          img(src='/home/liam/nodejs/images/all/04.png')
04.png

      div.image 
        a(href='/home/liam/nodejs/images/all/Inside of Emptiness.jpg', alt='/home/liam/nodejs/images/all/Inside of Emptiness.jpg')
          img(src='/home/liam/nodejs/images/all/Inside of Emptiness.jpg')
Inside of Emptiness.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/Booklet-3.jpg', alt='/home/liam/nodejs/images/all/Booklet-3.jpg')
          img(src='/home/liam/nodejs/images/all/Booklet-3.jpg')
Booklet-3.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/Cover - Enjoy!.jpg', alt='/home/liam/nodejs/images/all/Cover - Enjoy!.jpg')
          img(src='/home/liam/nodejs/images/all/Cover - Enjoy!.jpg')
Cover - Enjoy!.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/booklet3.jpg', alt='/home/liam/nodejs/images/all/booklet3.jpg')
          img(src='/home/liam/nodejs/images/all/booklet3.jpg')
booklet3.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/Front.jpg', alt='/home/liam/nodejs/images/all/Front.jpg')
          img(src='/home/liam/nodejs/images/all/Front.jpg')
Front.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/To Record Only Water for Ten Days.jpg', alt='/home/liam/nodejs/images/all/To Record Only Water for Ten Days.jpg')
          img(src='/home/liam/nodejs/images/all/To Record Only Water for Ten Days.jpg')
To Record Only Water for Ten Days.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/cd.jpg', alt='/home/liam/nodejs/images/all/cd.jpg')
          img(src='/home/liam/nodejs/images/all/cd.jpg')
cd.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/side2.jpg', alt='/home/liam/nodejs/images/all/side2.jpg')
          img(src='/home/liam/nodejs/images/all/side2.jpg')
side2.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/Booklet-4.jpg', alt='/home/liam/nodejs/images/all/Booklet-4.jpg')
          img(src='/home/liam/nodejs/images/all/Booklet-4.jpg')
Booklet-4.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/fela2.jpg', alt='/home/liam/nodejs/images/all/fela2.jpg')
          img(src='/home/liam/nodejs/images/all/fela2.jpg')
fela2.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/Smile from the Streets You Hold.png', alt='/home/liam/nodejs/images/all/Smile from the Streets You Hold.png')
          img(src='/home/liam/nodejs/images/all/Smile from the Streets You Hold.png')
Smile from the Streets You Hold.png

      div.image 
        a(href='/home/liam/nodejs/images/all/Inlay.jpg', alt='/home/liam/nodejs/images/all/Inlay.jpg')
          img(src='/home/liam/nodejs/images/all/Inlay.jpg')
Inlay.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/Booklet-7.jpg', alt='/home/liam/nodejs/images/all/Booklet-7.jpg')
          img(src='/home/liam/nodejs/images/all/Booklet-7.jpg')
Booklet-7.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/1 Front.jpg', alt='/home/liam/nodejs/images/all/1 Front.jpg')
          img(src='/home/liam/nodejs/images/all/1 Front.jpg')
1 Front.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/booklet2.jpg', alt='/home/liam/nodejs/images/all/booklet2.jpg')
          img(src='/home/liam/nodejs/images/all/booklet2.jpg')
booklet2.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/CD-2.jpg', alt='/home/liam/nodejs/images/all/CD-2.jpg')
          img(src='/home/liam/nodejs/images/all/CD-2.jpg')
CD-2.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/side1.jpg', alt='/home/liam/nodejs/images/all/side1.jpg')
          img(src='/home/liam/nodejs/images/all/side1.jpg')
side1.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/expensive shit.jpg', alt='/home/liam/nodejs/images/all/expensive shit.jpg')
          img(src='/home/liam/nodejs/images/all/expensive shit.jpg')
expensive shit.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/The Empyrean.jpg', alt='/home/liam/nodejs/images/all/The Empyrean.jpg')
          img(src='/home/liam/nodejs/images/all/The Empyrean.jpg')
The Empyrean.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/booklet4.jpg', alt='/home/liam/nodejs/images/all/booklet4.jpg')
          img(src='/home/liam/nodejs/images/all/booklet4.jpg')
booklet4.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/The Will to Death.png', alt='/home/liam/nodejs/images/all/The Will to Death.png')
          img(src='/home/liam/nodejs/images/all/The Will to Death.png')
The Will to Death.png

      div.image 
        a(href='/home/liam/nodejs/images/all/Fela_Kuti_-_Open_And_Close-front.jpg', alt='/home/liam/nodejs/images/all/Fela_Kuti_-_Open_And_Close-front.jpg')
          img(src='/home/liam/nodejs/images/all/Fela_Kuti_-_Open_And_Close-front.jpg')
Fela_Kuti_-_Open_And_Close-front.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/Disc.jpg', alt='/home/liam/nodejs/images/all/Disc.jpg')
          img(src='/home/liam/nodejs/images/all/Disc.jpg')
Disc.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/the shining cover.jpg', alt='/home/liam/nodejs/images/all/the shining cover.jpg')
          img(src='/home/liam/nodejs/images/all/the shining cover.jpg')
the shining cover.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/Curtains.jpg', alt='/home/liam/nodejs/images/all/Curtains.jpg')
          img(src='/home/liam/nodejs/images/all/Curtains.jpg')
Curtains.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/Digipack.jpg', alt='/home/liam/nodejs/images/all/Digipack.jpg')
          img(src='/home/liam/nodejs/images/all/Digipack.jpg')
Digipack.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/Axis - Bold As Love large.jpg', alt='/home/liam/nodejs/images/all/Axis - Bold As Love large.jpg')
          img(src='/home/liam/nodejs/images/all/Axis - Bold As Love large.jpg')
Axis - Bold As Love large.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/From the Sounds Inside.jpg', alt='/home/liam/nodejs/images/all/From the Sounds Inside.jpg')
          img(src='/home/liam/nodejs/images/all/From the Sounds Inside.jpg')
From the Sounds Inside.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/Band of Gypsys small.jpg', alt='/home/liam/nodejs/images/all/Band of Gypsys small.jpg')
          img(src='/home/liam/nodejs/images/all/Band of Gypsys small.jpg')
Band of Gypsys small.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/AlbumArt.jpg', alt='/home/liam/nodejs/images/all/AlbumArt.jpg')
          img(src='/home/liam/nodejs/images/all/AlbumArt.jpg')
AlbumArt.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/CD.jpg', alt='/home/liam/nodejs/images/all/CD.jpg')
          img(src='/home/liam/nodejs/images/all/CD.jpg')
CD.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/DC EP.jpg', alt='/home/liam/nodejs/images/all/DC EP.jpg')
          img(src='/home/liam/nodejs/images/all/DC EP.jpg')
DC EP.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/AlbumArtSmall.jpg', alt='/home/liam/nodejs/images/all/AlbumArtSmall.jpg')
          img(src='/home/liam/nodejs/images/all/AlbumArtSmall.jpg')
AlbumArtSmall.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/Booklet-6.jpg', alt='/home/liam/nodejs/images/all/Booklet-6.jpg')
          img(src='/home/liam/nodejs/images/all/Booklet-6.jpg')
Booklet-6.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/Axis - Bold As Love small.jpg', alt='/home/liam/nodejs/images/all/Axis - Bold As Love small.jpg')
          img(src='/home/liam/nodejs/images/all/Axis - Bold As Love small.jpg')
Axis - Bold As Love small.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/The Cry of Love small.jpg', alt='/home/liam/nodejs/images/all/The Cry of Love small.jpg')
          img(src='/home/liam/nodejs/images/all/The Cry of Love small.jpg')
The Cry of Love small.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/Blackstar.jpg', alt='/home/liam/nodejs/images/all/Blackstar.jpg')
          img(src='/home/liam/nodejs/images/all/Blackstar.jpg')
Blackstar.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/Booklet-2.jpg', alt='/home/liam/nodejs/images/all/Booklet-2.jpg')
          img(src='/home/liam/nodejs/images/all/Booklet-2.jpg')
Booklet-2.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/Back.jpg', alt='/home/liam/nodejs/images/all/Back.jpg')
          img(src='/home/liam/nodejs/images/all/Back.jpg')
Back.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/The Clash - London Calling [RM 1999].jpg', alt='/home/liam/nodejs/images/all/The Clash - London Calling [RM 1999].jpg')
          img(src='/home/liam/nodejs/images/all/The Clash - London Calling [RM 1999].jpg')
The Clash - London Calling [RM 1999].jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/Booklet.jpg', alt='/home/liam/nodejs/images/all/Booklet.jpg')
          img(src='/home/liam/nodejs/images/all/Booklet.jpg')
Booklet.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/folder.jpg', alt='/home/liam/nodejs/images/all/folder.jpg')
          img(src='/home/liam/nodejs/images/all/folder.jpg')
folder.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/Estrus EP.jpg', alt='/home/liam/nodejs/images/all/Estrus EP.jpg')
          img(src='/home/liam/nodejs/images/all/Estrus EP.jpg')
Estrus EP.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/fanart.jpg', alt='/home/liam/nodejs/images/all/fanart.jpg')
          img(src='/home/liam/nodejs/images/all/fanart.jpg')
fanart.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/back.png', alt='/home/liam/nodejs/images/all/back.png')
          img(src='/home/liam/nodejs/images/all/back.png')
back.png

      div.image 
        a(href='/home/liam/nodejs/images/all/Patti Smith - Horses - Front.jpg', alt='/home/liam/nodejs/images/all/Patti Smith - Horses - Front.jpg')
          img(src='/home/liam/nodejs/images/all/Patti Smith - Horses - Front.jpg')
Patti Smith - Horses - Front.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/05.png', alt='/home/liam/nodejs/images/all/05.png')
          img(src='/home/liam/nodejs/images/all/05.png')
05.png

      div.image 
        a(href='/home/liam/nodejs/images/all/Rainbow Bridge small.jpg', alt='/home/liam/nodejs/images/all/Rainbow Bridge small.jpg')
          img(src='/home/liam/nodejs/images/all/Rainbow Bridge small.jpg')
Rainbow Bridge small.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/felazombie.jpg', alt='/home/liam/nodejs/images/all/felazombie.jpg')
          img(src='/home/liam/nodejs/images/all/felazombie.jpg')
felazombie.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/Scenery album conver.jpg', alt='/home/liam/nodejs/images/all/Scenery album conver.jpg')
          img(src='/home/liam/nodejs/images/all/Scenery album conver.jpg')
Scenery album conver.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/front.jpg', alt='/home/liam/nodejs/images/all/front.jpg')
          img(src='/home/liam/nodejs/images/all/front.jpg')
front.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/2 Back.jpg', alt='/home/liam/nodejs/images/all/2 Back.jpg')
          img(src='/home/liam/nodejs/images/all/2 Back.jpg')
2 Back.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/Booklet-8.jpg', alt='/home/liam/nodejs/images/all/Booklet-8.jpg')
          img(src='/home/liam/nodejs/images/all/Booklet-8.jpg')
Booklet-8.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/Cover.jpg', alt='/home/liam/nodejs/images/all/Cover.jpg')
          img(src='/home/liam/nodejs/images/all/Cover.jpg')
Cover.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/cover.jpg', alt='/home/liam/nodejs/images/all/cover.jpg')
          img(src='/home/liam/nodejs/images/all/cover.jpg')
cover.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/A Sphere in the Heart of Silence.jpg', alt='/home/liam/nodejs/images/all/A Sphere in the Heart of Silence.jpg')
          img(src='/home/liam/nodejs/images/all/A Sphere in the Heart of Silence.jpg')
A Sphere in the Heart of Silence.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/Niandra Lades and Usually Just a T-Shirt.jpg', alt='/home/liam/nodejs/images/all/Niandra Lades and Usually Just a T-Shirt.jpg')
          img(src='/home/liam/nodejs/images/all/Niandra Lades and Usually Just a T-Shirt.jpg')
Niandra Lades and Usually Just a T-Shirt.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/Are You Experienced Large.jpg', alt='/home/liam/nodejs/images/all/Are You Experienced Large.jpg')
          img(src='/home/liam/nodejs/images/all/Are You Experienced Large.jpg')
Are You Experienced Large.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/DMT.png', alt='/home/liam/nodejs/images/all/DMT.png')
          img(src='/home/liam/nodejs/images/all/DMT.png')
DMT.png

      div.image 
        a(href='/home/liam/nodejs/images/all/Folder.jpg', alt='/home/liam/nodejs/images/all/Folder.jpg')
          img(src='/home/liam/nodejs/images/all/Folder.jpg')
Folder.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/Band of Gypsys large.jpg', alt='/home/liam/nodejs/images/all/Band of Gypsys large.jpg')
          img(src='/home/liam/nodejs/images/all/Band of Gypsys large.jpg')
Band of Gypsys large.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/Booklet-5.jpg', alt='/home/liam/nodejs/images/all/Booklet-5.jpg')
          img(src='/home/liam/nodejs/images/all/Booklet-5.jpg')
Booklet-5.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/Cd.jpg', alt='/home/liam/nodejs/images/all/Cd.jpg')
          img(src='/home/liam/nodejs/images/all/Cd.jpg')
Cd.jpg

      div.image 
        a(href='/home/liam/nodejs/images/all/booklet1.jpg', alt='/home/liam/nodejs/images/all/booklet1.jpg')
          img(src='/home/liam/nodejs/images/all/booklet1.jpg')
booklet1.jpg

        | Inside.jpg
        | Shadows Collide with People (Acoustic Versions).jpg
        | 06.png
        | Rainbow Bridge large.jpg
        | back.jpg
        | The Cry of Love large.jpg
        | Shadows Collide with People.jpg
        | 00-Front.jpg
        | 04.png
        | Inside of Emptiness.jpg
        | Booklet-3.jpg
        | Cover - Enjoy!.jpg
        | booklet3.jpg
        | Front.jpg
        | To Record Only Water for Ten Days.jpg
        | cd.jpg
        | side2.jpg
        | Booklet-4.jpg
        | fela2.jpg
        | Smile from the Streets You Hold.png
        | Inlay.jpg
        | Booklet-7.jpg
        | 1 Front.jpg
        | booklet2.jpg
        | CD-2.jpg
        | side1.jpg
        | expensive shit.jpg
        | The Empyrean.jpg
        | booklet4.jpg
        | The Will to Death.png
        | Fela_Kuti_-_Open_And_Close-front.jpg
        | Disc.jpg
        | the shining cover.jpg
        | Curtains.jpg
        | Digipack.jpg
        | Axis - Bold As Love large.jpg
        | From the Sounds Inside.jpg
        | Band of Gypsys small.jpg
        | AlbumArt.jpg
        | CD.jpg
        | DC EP.jpg
        | AlbumArtSmall.jpg
        | Booklet-6.jpg
        | Axis - Bold As Love small.jpg
        | The Cry of Love small.jpg
        | Blackstar.jpg
        | Booklet-2.jpg
        | Back.jpg
        | The Clash - London Calling [RM 1999].jpg
        | Booklet.jpg
        | folder.jpg
        | Estrus EP.jpg
        | fanart.jpg
        | back.png
        | Patti Smith - Horses - Front.jpg
        | 05.png
        | Rainbow Bridge small.jpg
        | felazombie.jpg
        | Scenery album conver.jpg
        | front.jpg
        | 2 Back.jpg
        | Booklet-8.jpg
        | Cover.jpg
        | cover.jpg
        | A Sphere in the Heart of Silence.jpg
        | Niandra Lades and Usually Just a T-Shirt.jpg
        | Are You Experienced Large.jpg
        | DMT.png
        | Folder.jpg
        | Band of Gypsys large.jpg
        | Booklet-5.jpg
        | Cd.jpg
        | booklet1.jpg
