doctype 5
html(lang="en")
  head
    title= 'Index of Music, sorted by Artists'
    meta(name='viewport', content='width=device-width')
    link('type="text/css" rel="stylesheet" href="style.css"')
  body
    h1 Music, sorted by Artists
  style.
    body {
    background-image: url("blur.jpg")
    }
p(style='text-align: left; padding-left: 1em;')
          a(href='./David Bowie') David Bowie
p(style='text-align: left; padding-left: 1em;')
          a(href='./Dire Straits') Dire Straits
p(style='text-align: left; padding-left: 1em;')
          a(href='./Eddie Hazel') Eddie Hazel
p(style='text-align: left; padding-left: 1em;')
          a(href='./Ella Fitzgerald & Joe Pass') Ella Fitzgerald & Joe Pass
p(style='text-align: left; padding-left: 1em;')
          a(href='./Flying Lotus') Flying Lotus
p(style='text-align: left; padding-left: 1em;')
          a(href='./Funkadelic') Funkadelic
p(style='text-align: left; padding-left: 1em;')
          a(href='./J Dilla') J Dilla
p(style='text-align: left; padding-left: 1em;')
          a(href='./Jack DeJohnette') Jack DeJohnette
p(style='text-align: left; padding-left: 1em;')
          a(href='./Jimi Hendrix') Jimi Hendrix
p(style='text-align: left; padding-left: 1em;')
          a(href='./Jimi Hendrix Experience') Jimi Hendrix Experience
p(style='text-align: left; padding-left: 1em;')
          a(href='./Joe Pass') Joe Pass
p(style='text-align: left; padding-left: 1em;')
          a(href='./John Frusciante') John Frusciante
p(style='text-align: left; padding-left: 1em;')
          a(href='./Kamasi Washington') Kamasi Washington
p(style='text-align: left; padding-left: 1em;')
          a(href='./Kendrick Lamar') Kendrick Lamar
p(style='text-align: left; padding-left: 1em;')
          a(href='./King Crimson') King Crimson
p(style='text-align: left; padding-left: 1em;')
          a(href='./Madvillain') Madvillain
p(style='text-align: left; padding-left: 1em;')
          a(href='./Marcus Miller') Marcus Miller
p(style='text-align: left; padding-left: 1em;')
          a(href='./Miles Davis') Miles Davis
p(style='text-align: left; padding-left: 1em;')
          a(href='./Nas') Nas
p(style='text-align: left; padding-left: 1em;')
          a(href='./Nirvana') Nirvana
p(style='text-align: left; padding-left: 1em;')
          a(href='./PJ Harvey') PJ Harvey
p(style='text-align: left; padding-left: 1em;')
          a(href='./Parliament') Parliament
p(style='text-align: left; padding-left: 1em;')
          a(href='./Patti Smith') Patti Smith
p(style='text-align: left; padding-left: 1em;')
          a(href='./Pink Floyd') Pink Floyd
p(style='text-align: left; padding-left: 1em;')
          a(href='./Red Hot Chili Peppers') Red Hot Chili Peppers
p(style='text-align: left; padding-left: 1em;')
          a(href='./Ryo Fukui') Ryo Fukui
p(style='text-align: left; padding-left: 1em;')
          a(href='./St Vincent') St Vincent
p(style='text-align: left; padding-left: 1em;')
          a(href='./Sweet Smoke') Sweet Smoke
p(style='text-align: left; padding-left: 1em;')
          a(href='./Talking Heads') Talking Heads
p(style='text-align: left; padding-left: 1em;')
          a(href='./The Clash') The Clash
p(style='text-align: left; padding-left: 1em;')
          a(href='./The Doors') The Doors
p(style='text-align: left; padding-left: 1em;')
          a(href='./The Velvet Underground') The Velvet Underground
p(style='text-align: left; padding-left: 1em;')
          a(href='./Wim Mertens') Wim Mertens
